@font-face {
  font-family: 'Christmas Holiday';
  font-style: normal;
  src: local('Christmas Holiday'), url('Christmas\ Holiday.woff') format('woff');
}

h1,
h2,
p,
button,
a,
.modal-card-title {
  font-family: 'Christmas Holiday', sans-serif;
  color: whitesmoke;
}

.today {
  animation: pulse 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.modal-card-body p {
  background: rgba(0, 0, 0, 0.2);
}

.door {
  transform-style: preserve-3d;
  transform: perspective(2500px);
}

.door-front:before {
  top: 25px;
}

.door-front:after {
  top: 100%;
}

.door-front.active {
  transform: rotateY(-120deg) rotateX(-10deg);
}

.door-front {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #9f5529;
  box-shadow: none;
  font-size: 2em;
  transition: 0.5s;
  position: absolute;
  border-style: dashed;
  transform-origin: left;
}

.door-back {
  /* z-index: 0;
  position: absolute;
  overflow: hidden; */
  border-radius: 50%;
  border-style: dashed;
  border-color: whitesmoke;
  width: 200px;
  height: 200px;
  background-color: #236f21;
  background-image: radial-gradient(whitesmoke 5%, transparent 5%),
    radial-gradient(white 3%, transparent 5%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
}

.footer,
.modal-card-foot,
.modal-card-head {
  background-color: #b3000c;
}

.modal-card-body {
  min-height: 360px;
}

.modal-card-body p {
  width: 100%;
}

a:hover {
  color: #eacf60;
}

.locked {
  animation: none;
}

.locked:active {
  animation: shake 0.2s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

img {
  object-fit: contain;
  width: auto;
  height: 360px;
}

.polka {
  background-image: radial-gradient(rgb(255, 255, 255) 10%, transparent 10%),
    radial-gradient(rgb(255, 255, 255) 10%, transparent 10%),
    radial-gradient(rgb(0, 0, 0) 10%, transparent 10%),
    radial-gradient(rgb(0, 0, 0) 10%, transparent 10%);
  background-position: 0px 0px, 8px 8px;
  background-size: 16px 16px;
  background-color: rgb(0, 128, 0);
}

.modal {
  animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
